<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1>TODO CATEGORIES</h1>
    <p class="text-info">
      This is text for categories.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <form action="" class="form-inline">
      <div class="row">
        <div class="col-md-10 form-group">
          <input type="text" placeholder="Add New Categories here" name="categoryName"
                 class="form-control-plaintext drop-shadow">
        </div>
        <div class="col-md-2 form-group submit-btn-div">
          <button type="submit" class="btn btn-primary btn-todo drop-shadow">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="row categories-list">
  <div class="col-md-3">
    <div class="card drop-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="">
            <p class="badge bg-primary"> CATEGORY </p>
          </div>
          <div class="cat-tools">
            <small><i class="fa fa-pencil-alt text-success"></i></small>
            <small><i class="fas fa-trash text-danger"></i></small>
          </div>
        </div>

        <div class="todo-content">
          <h3>
            Category
          </h3>
          <small class="text-secondary">This is a dummy text for showing category data.</small>
        </div>
        <span class="badge bg-danger">3 - Todos</span>
      </div>
    </div>
  </div>
</div>
