<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1>TODOS</h1>
    <p class="text-info">
      This is text for todos.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <form action="" class="form-inline">
      <div class="row">
        <div class="col-md-10 form-group">
          <input type="text" placeholder="Add new todos here" name="todoText"
                 class="form-control-plaintext drop-shadow">
        </div>
        <div class="col-md-2 form-group submit-btn-div">
          <button type="submit" class="btn btn-primary btn-todo drop-shadow">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
